<form>
  <div class="card card-body">
    <div class="col-sm-1"></div>
    <h1 class="card-title text-primary">{{editorTitle}}</h1>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label class="col-sm-1 col-form-label bg-info">ID:</label>
      <div class="col-sm-5">
        <input type="text" readonly class="form-control-plaintext" [(ngModel)]="todo.id" name="id">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label class="col-sm-1 col-form-label bg-info">Title</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" [(ngModel)]="todo.title" name="title">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label class="col-sm-1 col-form-label bg-info">Description</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" [(ngModel)]="todo.body" name="body">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label class="col-sm-1 col-form-label bg-info">Created:</label>
      <div class="col-sm-5">
        <label >{{todo.creatingDate}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-1"></div>
      <label class="col-sm-1 col-form-label bg-info">Last Edited:</label>
      <div class="col-sm-5">
        <label >{{todo.lastEditingDate}}</label>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <button class="btn btn-primary" (click)="apply()">Apply</button>
  </div>
</form>